<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <form method="post" action="/login/">
        {% csrf_token %}
        <table align="center" border="4">
            <tr>
                <td colspan="2" align="center">Login Page</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>
                    <input type="text" placeholder="username" required name="u">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" placeholder="password" required name="p">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" >
                    <button type="submit">Login</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>